{% extends 'admin/baseadmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam non recusandae dolores ea voluptatibus inventore quas earum veritatis impedit deserunt, sapiente voluptate provident natus omnis explicabo, cupiditate velit. Porro repellendus minus vel repudiandae quae dolores fugiat, similique minima voluptate vero, aliquam totam corrupti alias odit enim magni a voluptatem. Accusamus dolores tenetur, cum eos cumque odit quaerat iste ducimus officia perspiciatis? Nihil, earum animi hic sed a fugit tenetur eligendi qui nulla dolore. Maxime rem modi excepturi nesciunt, adipisci enim similique fugiat molestias exercitationem animi quaerat iure quae deserunt ipsam tempora! Vel ullam a cupiditate repellat eum repellendus deserunt dolore.</p>
</div>
{% endblock %}
