#arrow{
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
@keyframes example {
    0%   {left:80%}
    50%  {left:77.5%}
    100% {left:80%}
}

#arrow2{
    animation-name: example2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: scaleX(-1);
  }
  
@keyframes example2 {
    0%   {left:10%}
    50%  {left:12.5%}
    100% {left:10%}
}